@import '~bootstrap/scss/bootstrap';

body {
  background: #ffce76;
}
#basic-navbar-nav {
  background: #000;
}
.navbar-brand {
  background: #000;
}
.bg-primary {
  background-color: #000 !important;
}
